@font-face {
    font-family: title_font;
    src: url(assets/firlefanz-demo.ttf);
}
@font-face {
    font-family: subtitle_font;
    src: url(assets/thequickest.otf);
}
@font-face {
    font-family: paragraph_font;
    src: url(assets/goingtodogreatthings.ttf);
}

body{
    background-color: rgb(232, 221, 182);
}

.title{
    font-family: title_font;
     color: rgb(59, 46, 1);
     text-align: center;
}

.subtitle{
    font-family: subtitle_font;
    color: rgb(79, 64, 10);
    text-align: center;
}

.flex-tile{
    background-color: rgb(222, 210, 166);
}

.headers{
    font-family: subtitle_font;
    color: rgb(79, 64, 10);
    text-align: center;
}

.steps{
    font-family: paragraph_font;
    color: rgb(79, 64, 10);
}