/* STYLE FOR YOUR INDEX.HTML */
@font-face {
    font-family: title_font;
    src: url(assets/firlefanz-demo.ttf);
}
@font-face {
    font-family: subtitle_font;
    src: url(assets/thequickest.otf);
}
@font-face {
    font-family: paragraph_font;
    src: url(assets/goingtodogreatthings.ttf);
}

body{
    background-color: rgb(232, 221, 182);
}

.flex-container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-tile1{
    display: flex;
    width: 100%;
    background-color: rgb(222, 210, 166);
}

.resources{
    font-family: paragraph_font;
    color: rgb(79, 64, 10);
}

.title{
    font-family: title_font;
    font-size: 50px;
    margin-left: 30%;
    text-align: center;
    color: rgb(59, 46, 1);
}

.subtitle{
    font-family: subtitle_font;
    text-align: center;
    color: rgb(79, 64, 10);
}

.flex-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-tile2{
    display: flex;
    width: 50%;
    background-color: rgb(222, 210, 166);
}
.link_1{
    font-family: paragraph_font;
    color: rgb(79, 64, 10);
}
.link_2{
    font-family: paragraph_font;
    color: rgb(79, 64, 10);
}
.description{
    font-family: paragraph_font;
    text-align: center;
    color: rgb(79, 64, 10);
}